.text-center {
    text-align: center;
}

.italic {
    font-style: italic;
}

.table td {
    text-align: left;
}

.value-cell {
    padding-left: 835px;
}

.field-cell {
    padding-left: 50px;
}

tr:nth-child(even) {
    background-color: lightgreen;
}

.container span[contenteditable="true"] {
    display: inline-block;
    min-width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    cursor: text;
    background-color: #fff;
}